<a href="https://colab.research.google.com/github/nandaniluitel/BigData/blob/main/DistrictSummary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
school_df = pd.read_csv("/content/drive/MyDrive/pandas/schools_complete.csv")

In [3]:

student_df = pd.read_csv("/content/drive/MyDrive/pandas/students_complete.csv")
complete_data = pd.merge(school_df,student_df,how="left",on=["school_name","school_name"])

In [10]:
complete_data.head(5000)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
4995,1,Figueroa High School,District,2949,1884411,4995,Wendy Harris,F,10th,86,62
4996,1,Figueroa High School,District,2949,1884411,4996,Alexander Carpenter,M,9th,67,61
4997,1,Figueroa High School,District,2949,1884411,4997,Alejandra Ellis,F,9th,91,76
4998,1,Figueroa High School,District,2949,1884411,4998,Michael Marshall,M,9th,77,87
4999,1,Figueroa High School,District,2949,1884411,4999,Sabrina Schneider,F,9th,80,95

In [5]:
# prompt: # Calculate the total number of unique schools

unique_schools = school_df['school_name'].nunique()
print(f"Total number of unique schools: {unique_schools}")

Total number of unique schools: 15

In [11]:
# prompt: # Calculate the total number of students

total_students = student_df['Student ID'].count()
print(f"Total number of students: {total_students}")

Total number of students: 39170

In [12]:
# prompt: Calculate the total budget

total_budget = school_df['budget'].sum()
print(f"Total budget: ${total_budget}")

Total budget: $24649428

In [13]:
# prompt: Calculate the average (mean) math score

average_math_score = complete_data['math_score'].mean()
print(f"Average math score: {average_math_score}")

Average math score: 78.98537145774827

In [14]:
# prompt: Calculate the average (mean) reading score

average_reading_score = complete_data['reading_score'].mean()
print(f"Average reading score: {average_reading_score}")

Average reading score: 81.87784018381414

In [16]:
# prompt: calculate the percentage of students who passed math (math scores greater than or equal to 70)

passing_math_count = complete_data[complete_data['math_score'] >= 70]['Student ID'].count()
percentage_passing_math = (passing_math_count / total_students) * 100
print(f"Percentage of students passing math: {percentage_passing_math:.2f}%")

Percentage of students passing math: 74.98%

In [17]:
# prompt: Calculate the percentage of students who passed reading

passing_reading_count = complete_data[complete_data['reading_score'] >= 70]['Student ID'].count()
percentage_passing_reading = (passing_reading_count / total_students) * 100
print(f"Percentage of students passing reading: {percentage_passing_reading:.2f}%")

Percentage of students passing reading: 85.81%

In [19]:
# prompt: calculate the percentage of students that passed math and reading

overall_passing_rate = (percentage_passing_math + percentage_passing_reading) / 2
print(f"Overall passing rate: {overall_passing_rate:.2f}%")

Overall passing rate: 80.39%

In [20]:
# prompt: Create a high-level snapshot of the district&#39;s key metrics in a DataFrame

district_summary = pd.DataFrame({
    "Total Schools": [unique_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percentage_passing_math],
    "% Passing Reading": [percentage_passing_reading],
    "% Overall Passing Rate": [overall_passing_rate]
})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158