<a href="https://colab.research.google.com/github/nandaniluitel/BigData/blob/main/student_school.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
school_df = pd.read_csv("/content/drive/MyDrive/pandas/schools_complete.csv")

In [4]:

student_df = pd.read_csv("/content/drive/MyDrive/pandas/students_complete.csv")
complete_data = pd.merge(school_df,student_df,how="left",on=["school_name","school_name"])

In [5]:
complete_data.head(10)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84

In [6]:
# prompt: select the school type

school_types = school_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [7]:
# prompt: calculate the total number of students per school

per_school_counts = complete_data["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [8]:
# prompt: calculate  the total school budget for each school and per capita spending for each school
# Convert budget to numeric if necessary
complete_data["budget"] = pd.to_numeric(complete_data["budget"], errors="coerce")
# Calculate the total budget for each school
per_school_budget = complete_data.groupby("school_name")["budget"].mean()

# Calculate the total number of students in each school
per_school_counts = complete_data.groupby("school_name")["size"].mean()

# Calculate per capita spending for each school
per_school_capita = per_school_budget / per_school_counts

print("Total School Budget (Per School):")
print(per_school_budget)

print("\nPer Capita Spending (Per School):")
print(per_school_capita)

Total School Budget (Per School):
school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

Per Capita Spending (Per School):
school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [9]:
# prompt: calculate the average test scores per school

# Calculate the average math score per school
per_school_math = complete_data.groupby(["school_name"])["math_score"].mean()

# Calculate the average reading score per school
per_school_reading = complete_data.groupby(["school_name"])["reading_score"].mean()

# Calculate the average test scores per school
per_school_passing_math = complete_data[complete_data["math_score"] >= 70].groupby(["school_name"])["Student ID"].count()/per_school_counts * 100
per_school_passing_reading = complete_data[complete_data["reading_score"] >= 70].groupby(["school_name"])["Student ID"].count()/per_school_counts * 100
overall_passing_rate = (per_school_passing_math + per_school_passing_reading) / 2

# Print the results
print("\nAverage Math Score Per School:")
print(per_school_math)

print("\nAverage Reading Score Per School:")
print(per_school_reading)

print("\nOverall Passing Rate Per School:")
overall_passing_rate

Average Math Score Per School:
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

Average Reading Score Per School:
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

Overall Passing Rate Per School:

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [10]:
# prompt: calculate  the number of school with math scores of 70 or higher

passing_math_by_school = complete_data[complete_data["math_score"] >= 70].groupby("school_name")["Student ID"].count()
school_passing_math_count = passing_math_by_school.count()
print(f"Number of schools with math scores of 70 or higher: {school_passing_math_count}")

Number of schools with math scores of 70 or higher: 15

In [33]:
# prompt: calculate  the number of school with reading scores of 70 or higher

passing_reading_by_school = complete_data[complete_data["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
school_passing_reading_count = passing_reading_by_school.count()
print(f"Number of schools with reading scores of 70 or higher: {school_passing_reading_count}")

Number of schools with reading scores of 70 or higher: 15

In [34]:
# prompt: calculate the schools that passed both math and reading with scores of 70 or higher

# Calculate the number of schools where students passed both math and reading with scores of 70 or higher
passing_math_reading = complete_data[(complete_data["math_score"] >= 70) & (complete_data["reading_score"] >= 70)]
schools_passing_both = passing_math_reading.groupby("school_name")["Student ID"].count()
num_schools_passing_both = schools_passing_both.count()

print(f"Number of schools where students passed both math and reading: {num_schools_passing_both}")

Number of schools where students passed both math and reading: 15

In [35]:
# prompt: Calculate the passing rates per school

per_school_passing_math = complete_data[complete_data["math_score"] >= 70].groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = complete_data[complete_data["reading_score"] >= 70].groupby(["school_name"]).count()["student_name"]

per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

overall_passing_rate = (per_school_passing_math + per_school_passing_reading) / 2

overall_passing_rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [36]:
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total Budget": per_school_budget,
    "Per Capita Spending": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "Overall Passing Rate Per School":overall_passing_rate,
    "Math scores of 70 or higher": school_passing_math_count,
    "Reading scores of 70 or higher": school_passing_reading_count,
    "Both math and reading with scores of 70 or higher": num_schools_passing_both,
    "% Overall Passing per School": overall_passing_rate
})
# Reset the index to make 'school_name' a column
per_school_summary = per_school_summary.reset_index()

# Display the updated DataFrame
print(per_school_summary)

              school_name School Type  Total Students  Total Budget  \
0      Bailey High School    District          4976.0     3124928.0
1     Cabrera High School     Charter          1858.0     1081356.0
2    Figueroa High School    District          2949.0     1884411.0
3        Ford High School    District          2739.0     1763916.0
4     Griffin High School     Charter          1468.0      917500.0
5   Hernandez High School    District          4635.0     3022020.0
6      Holden High School     Charter           427.0      248087.0
7       Huang High School    District          2917.0     1910635.0
8     Johnson High School    District          4761.0     3094650.0
9        Pena High School     Charter           962.0      585858.0
10  Rodriguez High School    District          3999.0     2547363.0
11    Shelton High School     Charter          1761.0     1056600.0
12     Thomas High School     Charter          1635.0     1043130.0
13     Wilson High School     Charter          2283.0     1319574.0
14     Wright High School     Charter          1800.0     1049400.0

    Per Capita Spending  Average Math Score  Average Reading Score  \
0                 628.0           77.048432              81.033963
1                 582.0           83.061895              83.975780
2                 639.0           76.711767              81.158020
3                 644.0           77.102592              80.746258
4                 625.0           83.351499              83.816757
5                 652.0           77.289752              80.934412
6                 581.0           83.803279              83.814988
7                 655.0           76.629414              81.182722
8                 650.0           77.072464              80.966394
9                 609.0           83.839917              84.044699
10                637.0           76.842711              80.744686
11                600.0           83.359455              83.725724
12                638.0           83.418349              83.848930
13                578.0           83.274201              83.989488
14                583.0           83.682222              83.955000

    Overall Passing Rate Per School  Math scores of 70 or higher  \
0                         74.306672                           15
1                         95.586652                           15
2                         73.363852                           15
3                         73.804308                           15
4                         95.265668                           15
5                         73.807983                           15
6                         94.379391                           15
7                         73.500171                           15
8                         73.639992                           15
9                         95.270270                           15
10                        73.293323                           15
11                        94.860875                           15
12                        95.290520                           15
13                        95.203679                           15
14                        94.972222                           15

    Reading scores of 70 or higher  \
0                               15
1                               15
2                               15
3                               15
4                               15
5                               15
6                               15
7                               15
8                               15
9                               15
10                              15
11                              15
12                              15
13                              15
14                              15

    Both math and reading with scores of 70 or higher  \
0                                                  15
1                                                  15
2                                                  15
3                                                  15
4                                                  15
5                                                  15
6                                                  15
7                                                  15
8                                                  15
9                                                  15
10                                                 15
11                                                 15
12                                                 15
13                                                 15
14                                                 15

    % Overall Passing per School
0                      74.306672
1                      95.586652
2                      73.363852
3                      73.804308
4                      95.265668
5                      73.807983
6                      94.379391
7                      73.500171
8                      73.639992
9                      95.270270
10                     73.293323
11                     94.860875
12                     95.290520
13                     95.203679
14                     94.972222

## Highest-Performing Schools (by % Overall Passing)

In [37]:
# prompt: # Sort the schools by `% Overall Passing` in descending order and display the top 5 rows

# Sort the schools by '% Overall Passing' in descending order and display the top 5 rows
top_schools = per_school_summary.sort_values("% Overall Passing per School", ascending=False)
top_schools.head(5)

,school_name,School Type,Total Students,Total Budget,Per Capita Spending,Average Math Score,Average Reading Score,Overall Passing Rate Per School,Math scores of 70 or higher,Reading scores of 70 or higher,Both math and reading with scores of 70 or higher,% Overall Passing per School
1,Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,95.586652,15,15,15,95.586652
12,Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,95.290520,15,15,15,95.290520
9,Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,95.270270,15,15,15,95.270270
4,Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,95.265668,15,15,15,95.265668
13,Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,95.203679,15,15,15,95.203679

# Bottom Performing Schools (By % Overall Passing)

In [38]:
# prompt: # Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

# Sort the schools by '% Overall Passing' in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing per School", ascending=True)
bottom_schools.head(5)

,school_name,School Type,Total Students,Total Budget,Per Capita Spending,Average Math Score,Average Reading Score,Overall Passing Rate Per School,Math scores of 70 or higher,Reading scores of 70 or higher,Both math and reading with scores of 70 or higher,% Overall Passing per School
10,Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,73.293323,15,15,15,73.293323
2,Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,73.363852,15,15,15,73.363852
7,Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,73.500171,15,15,15,73.500171
8,Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,73.639992,15,15,15,73.639992
3,Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,73.804308,15,15,15,73.804308


# Math Scores by Grade

In [39]:
# prompt: # Use the code provided to separate the data by grade

# Calculate the average math score for students of 9th grade at each school
ninth_graders = complete_data[(complete_data["grade"] == "9th")]
ninth_graders_scores = ninth_graders.groupby("school_name")["math_score"].mean()

# Calculate the average math score for students of 10th grade at each school
tenth_graders = complete_data[(complete_data["grade"] == "10th")]
tenth_graders_scores = tenth_graders.groupby("school_name")["math_score"].mean()

# Calculate the average math score for students of 11th grade at each school
eleventh_graders = complete_data[(complete_data["grade"] == "11th")]
eleventh_graders_scores = eleventh_graders.groupby("school_name")["math_score"].mean()

# Calculate the average math score for students of 12th grade at each school
twelfth_graders = complete_data[(complete_data["grade"] == "12th")]
twelfth_graders_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Create a DataFrame to hold the average math scores by grade for each school
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_scores,
    "10th": tenth_graders_scores,
    "11th": eleventh_graders_scores,
    "12th": twelfth_graders_scores
})

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Score by Grade

In [40]:
# prompt: # Use the code provided to separate the data by grade

# Calculate the average reading score for students of 9th grade at each school
ninth_graders = complete_data[(complete_data["grade"] == "9th")]
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()

# Calculate the average reading score for students of 10th grade at each school
tenth_graders = complete_data[(complete_data["grade"] == "10th")]
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()

# Calculate the average reading score for students of 11th grade at each school
eleventh_graders = complete_data[(complete_data["grade"] == "11th")]
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()

# Calculate the average reading score for students of 12th grade at each school
twelfth_graders = complete_data[(complete_data["grade"] == "12th")]
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Create a DataFrame to hold the average reading scores by grade for each school
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores
})

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171


# Scores by School Spending

In [41]:
# prompt: # Establish the bins

# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [42]:
# prompt: # Create a copy of the school summary since it has the "Per Student Budget"

# Create a copy of the school summary DataFrame
school_spending_df = per_school_summary.copy()

In [43]:
# prompt: # Use `pd.cut` to categorize spending based on the bins.

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Capita Spending"], spending_bins, labels=labels, right=False)
school_spending_df

,school_name,School Type,Total Students,Total Budget,Per Capita Spending,Average Math Score,Average Reading Score,Overall Passing Rate Per School,Math scores of 70 or higher,Reading scores of 70 or higher,Both math and reading with scores of 70 or higher,% Overall Passing per School,Spending Ranges (Per Student)
0,Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,74.306672,15,15,15,74.306672,$585-630
1,Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,95.586652,15,15,15,95.586652,<$585
2,Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,73.363852,15,15,15,73.363852,$630-645
3,Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,73.804308,15,15,15,73.804308,$630-645
4,Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,95.265668,15,15,15,95.265668,$585-630
5,Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,73.807983,15,15,15,73.807983,$645-680
6,Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,94.379391,15,15,15,94.379391,<$585
7,Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,73.500171,15,15,15,73.500171,$645-680
8,Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,73.639992,15,15,15,73.639992,$645-680
9,Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,95.270270,15,15,15,95.270270,$585-630
10,Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,73.293323,15,15,15,73.293323,$630-645
11,Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,94.860875,15,15,15,94.860875,$585-630
12,Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,95.290520,15,15,15,95.290520,$630-645
13,Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,95.203679,15,15,15,95.203679,<$585
14,Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,94.972222,15,15,15,94.972222,<$585

In [48]:
# prompt: #  Calculate averages for the desired columns.

# Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Math scores of 70 or higher"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Reading scores of 70 or higher"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing per School"].mean()

# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display results
spending_summary

<ipython-input-48-d43f3408676c>:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
<ipython-input-48-d43f3408676c>:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
<ipython-input-48-d43f3408676c>:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Math scores of 70 or higher"].mean()
<ipython-input-48-d43f3408676c>:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Reading scores of 70 or higher"].mean()
<ipython-input-48-d43f3408676c>:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing per School"].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,15.0,15.0,95.035486
$585-630,81.899826,83.155286,15.0,15.0,89.925871
$630-645,78.518855,81.624473,15.0,15.0,78.938001
$645-680,76.997210,81.027843,15.0,15.0,73.649382

# Scores by School Size

In [49]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [50]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_counts,bins=size_bins,labels=labels)
type_summary = per_school_summary.copy()
type_summary

,school_name,School Type,Total Students,Total Budget,Per Capita Spending,Average Math Score,Average Reading Score,Overall Passing Rate Per School,Math scores of 70 or higher,Reading scores of 70 or higher,Both math and reading with scores of 70 or higher,% Overall Passing per School,School Size
0,Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,74.306672,15,15,15,74.306672,NaN
1,Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,95.586652,15,15,15,95.586652,NaN
2,Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,73.363852,15,15,15,73.363852,NaN
3,Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,73.804308,15,15,15,73.804308,NaN
4,Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,95.265668,15,15,15,95.265668,NaN
5,Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,73.807983,15,15,15,73.807983,NaN
6,Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,94.379391,15,15,15,94.379391,NaN
7,Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,73.500171,15,15,15,73.500171,NaN
8,Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,73.639992,15,15,15,73.639992,NaN
9,Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,95.270270,15,15,15,95.270270,NaN
10,Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,73.293323,15,15,15,73.293323,NaN
11,Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,94.860875,15,15,15,94.860875,NaN
12,Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,95.290520,15,15,15,95.290520,NaN
13,Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,95.203679,15,15,15,95.203679,NaN
14,Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,94.972222,15,15,15,94.972222,NaN

In [51]:
# prompt: # Calculate averages for the desired columns.

# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["Math scores of 70 or higher"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["Reading scores of 70 or higher"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing per School"].mean()

# Assemble into DataFrame
size_summary = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

# Display results
size_summary

<ipython-input-51-eeabc3a9d7e8>:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
<ipython-input-51-eeabc3a9d7e8>:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
<ipython-input-51-eeabc3a9d7e8>:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["Math scores of 70 or higher"].mean()
<ipython-input-51-eeabc3a9d7e8>:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["Reading scores of 70 or higher"].mean()
<ipython-input-51-eeabc3a9d7e8>:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing per School"].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),NaN,NaN,NaN,NaN,NaN
Medium (1000-2000),NaN,NaN,NaN,NaN,NaN
Large (2000-5000),NaN,NaN,NaN,NaN,NaN


# Scores by School Type

In [52]:
# prompt: # Group the per_school_summary DataFrame by "School Type" and average the results.

# Calculate averages for the desired columns.
type_math_scores = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_math = per_school_summary.groupby(["School Type"])["Math scores of 70 or higher"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"])["Reading scores of 70 or higher"].mean()
type_overall_passing = per_school_summary.groupby(["School Type"])["% Overall Passing per School"].mean()

# Assemble the new data by type into a DataFrame called `type_summary
type_summary = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,15.0,15.0,95.103660
District,76.956733,80.966636,15.0,15.0,73.673757